<div class="root">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Class: {{ student?.class }}</mat-card-title>
      <mat-card-subtitle style="font-size: 1.2rem; color: red"
        >Name: {{ student?.name }}</mat-card-subtitle
      >
    </mat-card-header>
    <br />
    <mat-card-content style="font-size: large">
      <strong>Student details:</strong>
      <div style="display: flex; flex-direction: column; gap: 0.2rem">
        <span>Roll No.: {{ student?.roll_no }}</span>
        <span>Gender: {{ student?.gender }}</span>
        <span>Age:{{ student?.age }}</span>
        <span>Email: {{ student?.email }}</span>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card
    *ngFor="let test of data"
    style="background-color: lightcoral; margin-bottom: 1rem"
  >
    <mat-card-header>
      <mat-card-title>{{ test.name }}</mat-card-title>
      <mat-card-subtitle>Completed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <h4>Total Marks:</h4>
      <h4>{{ test.marks }}</h4>
    </mat-card-actions>
  </mat-card>
</div>
